{% if paginator.num_pages > 1 %}
<div class="pagination {{ pagination_position|default:"pagination-centered" }}">
    <ul>
        <li class="paging-element{% if not page_object.has_previous %} disabled{%endif%}"><a href="#{{ pagination_name|default:"pagination" }}" data-page="{{ page_object.previous_page_number }}" data-order="{{ pagination_state.order }}" data-order-dir="{{ pagination_state.order_dir }}">{{ pagination_previous|default:"«" }}</a></li>
        {% include "pagination/paging_button.html" with value=1 current=page_object.number %}
        {% include "pagination/paging_button.html" with value=2 current=page_object.number %}
        {% if paginator.num_pages > 5 %}
            {% if page_object.number < 3 %}
                {% include "pagination/spacer.html" %}
                {% include "pagination/paging_button.html" with value=paginator.num_pages|add:-1 current=page_object.number %}
                {% include "pagination/paging_button.html" with value=paginator.num_pages current=page_object.number %}
            {% elif page_object.number == 3 %}
                {% include "pagination/paging_button.html" with value=3 current=3 %}
                {% include "pagination/paging_button.html" with value=4 current=3 %}
            {% elif page_object.number == 4 %}
                {% include "pagination/paging_button.html" with value=3 current=4 %}
                {% include "pagination/paging_button.html" with value=4 current=4 %}
                {% include "pagination/paging_button.html" with value=5 current=4 %}
            {% else %}
                {% include "pagination/spacer.html" %}
                {% include "pagination/paging_button.html" with value=page_object.number|add:-1 current=page_object.number %}
                {% include "pagination/paging_button.html" with value=page_object.number current=page_object.number %}
                {% if page_object.has_next %}
                    {% include "pagination/paging_button.html" with value=page_object.number|add:1 current=page_object.number %}
                {% endif %}
            {% endif %}
        {% elif paginator.num_pages > 2 %}
            {% include "pagination/paging_button.html" with value=3 current=page_object.number %}
            {% if paginator.num_pages > 3 %}
                {% include "pagination/paging_button.html" with value=4 current=page_object.number %}
                {% if paginator.num_pages > 4 %}
                    {% include "pagination/paging_button.html" with value=5 current=page_object.number %}
                {% endif %}
            {% endif %}
        {% endif %}
        <li class="paging-element{% if not page_object.has_next %} disabled{%endif%}"><a data-page="{{ page_object.next_page_number }}" data-order="{{ pagination_state.order }}" data-order-dir="{{ pagination_state.order_dir }}" href="#{{ pagination_name|default:"pagination" }}">{{ pagination_next|default:"»" }}</a></li>
    </ul>
</div>
{% endif %}
